# Node
**/node_modules/
npm-debug.log*

# Env
*.env
.env
.env.local
.env.*
!backend/.env.dev
!backend/.env.proc

# Editor/OS
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
