@config "../../tailwind.config.js";
@import "tailwindcss";

@layer utilities {
  .bg-auth-svg {
    background-color: #ff7700;
    background-image: url("/images/flat-mount.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
